<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:action="@{/edit}" th:object="${user}" method="POST">
    <input type="hidden" name="id" th:value="${user.getId()}">
    <fieldset>
        <legend>Данные пользователя</legend>
        <p>
            <label th:for="name">Name</label>
            <input type="text" name="name" th:id="name" th:value="${user.getName()}">
        </p>
        <p>
            <label th:for="age">Age</label>
            <input type="text" name="age" th:id="age" th:value="${user.getAge()}"><br/>
        </p>
        <p>
            <label th:for="email">Email</label>
            <input type="text" name="email" th:id="email" th:value="${user.getEmail()}"><br/>
        </p>

    </fieldset>
    <button type="submit">UpDate</button>
</form>
</body>